<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="templates/styles.css">
    <link rel="stylesheet" href="styles.css">
    <title>Forum</title>
  </head>

  <body>
     
    <nav class="nav-container">
      <ul class="nav-list">
        <li>
          <a href="/">Forum</a>
        </li>
        <li>
          <a href="/signup">Sign up</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
    </nav>

  <main>
    <div class="filter-container">
    <form action="/filter" method="POST">
      <h1>Filter posts</h1>
      <select name="filter">
        <option value="">Show all</option>
        <option value="science">Science</option>
        <option value="education">Education</option>
        <option value="sports">Sports</option>
        <option value="lifehacks">Lifehacks</option>
      </select>
      <button>Apply filter</button>
    </form>
    </div>
      <div class="allposts-container">
        {{range .}}
        <div class="post-container">
            <p class="title-text">{{.Title}}</p>
            {{range .CategoryArr}}
            <p class="category-text">{{.}}</p>
            {{end}}
            <hr style="width: 100%;">
            <p class="post-text">{{.Content}}</p>
            <form action="/post" method="GET" style="float:left">
              <input type="text" name="id" value={{.ID}} style="display: none;">
              <button >Check detail of this post</button>
            </form>
            <form action="/dislike-post" method="POST" style="float:right">
              <input type="text" name="from" value="index" style="display: none;">
              <input type="text" name="id" value={{.ID}} style="display: none;">
              <button disabled>{{len .Dislikes}} 👎</button>
            </form>
            <form action="/like-post" method="POST" style="float:right">
              <input type="text" name="from" value="index" style="display: none;">
              <input type="text" name="id" value={{.ID}} style="display: none;">
              <button disabled>{{len .Likes}} 👍</button>
            </form>
            
</div>
{{end}}
</div>
      
</main>
</body>

</html>