<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="templates/styles.css">
    <link rel="stylesheet" href="styles.css">
    <title>Forum</title>
  </head>

  <body>
     
    <nav class="nav-container">
      <ul class="nav-list">
        <li>
          <a href="/">Forum</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
    </nav>

  <main>
    <div class="filter-container">
    <form action="/filter" method="POST">
      <h1>Filter posts</h1>
      <select name="filter">
        <option value="">Show all</option>
        <option value="science">Science</option>
        <option value="education">Education</option>
        <option value="sports">Sports</option>
        <option value="lifehacks">Lifehacks</option>
        <option value="mine">My posts</option>
        <option value="liked">Liked Posts</option>
      </select>
      <button>Apply filter</button>
    </form>
    </div>
      <div class="allposts-container">
        <div class="post-container">
  <h1>Create a new post</h1>
  <form action="/new-post" method="POST" name="newPostForm">
      <p>Title:</p>
      <input type="text" name="postTitle"  required>
      <p>Text:</p>
      <textarea type="text" name="postContent" placeholder="Enter text here..." id="postContent" required></textarea>
      <p>At least one category has to be selected</p>
      <p>
        <input type="checkbox" name="category" value="science">science
        <input type="checkbox" name="category" value="education">education
        <input type="checkbox" name="category" value="sports">sports
        <input type="checkbox" name="category" value="lifehacks">lifehacks
      </p>
      
      <button>Submit post</button>
  </form>
  
</div>

{{range .}}
<div class="post-container">
    <p class="title-text">{{.Title}}</p>
    {{range .CategoryArr}}
    <p class="category-text">{{.}}</p>
    {{end}}
    <hr style="width: 100%;">
    <p class="post-text">{{.Content}}</p>
    <form action="/post" method="GET" style="float:left">
      <input type="text" name="id" value={{.ID}} style="display: none;">
      <button >Check detail of this post</button>
    </form>
    <form action="/dislike-post" method="POST" style="float:right">
      <input type="text" name="from" value="index" style="display: none;">
      <input type="text" name="id" value={{.ID}} style="display: none;">
      <button>{{len .Dislikes}} 👎</button>
    </form>
    <form action="/like-post" method="POST" style="float:right">
      <input type="text" name="from" value="index" style="display: none;">
      <input type="text" name="id" value={{.ID}} style="display: none;">
      <button>{{len .Likes}} 👍</button>
    </form>
    
</div>
{{end}}
</div>
      
</main>
</body>

</html>