<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="templates/styles.css">
    <link rel="stylesheet" href="styles.css">
    <title>Forum</title>
  </head>

  <body>
     
    <nav class="nav-container">
      <ul class="nav-list">
        <li>
          <a href="/">Forum</a>
        </li>
        <li>
          <a href="/signup">Sign up</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
    </nav>

  <main>
      <div class="allposts-container">
        <div class="post-container">
          <h1>Sign up form</h1>
          <form action="/signup-submit" method="POST">
              <p>Username</p>
              <input type="text" name="username" placeholder="username" required>
              <p>Email</p>
              <input type="email" name="email" placeholder="email" required>
              <p>Password</p>
              <input type="password" name="password" placeholder="password" required>
              <hr style="visibility: hidden;">
              <button>Submit to signup</button>
          </form>
    </div>
    </div>
      
</main>
</body>

</html>